.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}
.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.heading span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
    object-fit: none;
  }
  .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--second-bg-color);
    border-bottom: 0.2rem solid var(--second-bg-color);
    border-left: 0.2rem solid var(--main-color);
    border-right: 0.2rem solid var(--main-color);
    animation: spinner 8s linear infinite;
  }
}
.about-content {
  text-align: center;
  span {
    font-weight: 500;
    font-size: 2.6rem;
  }
  p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
  }
}