.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  .sticky {
    background: var(--main-color);
  }
}
#menu-icon {
  position: relative;
  font-size: 4rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}
.navbar {
  position: relative;
  a {
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--second-bg-color);
    }
    a.active {
      color: var(--second-bg-color);
    }
  }
}
