.work-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.work {
  margin: 1rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work h2 {
  font-size: 1.5rem;
}
.work p {
  font-size: 1.2rem;
  font-weight: 500;
}
.work-img {
  margin: 1rem 0;
  height: 15rem;
  width: 100%;
}
.work-img img {
  width: 100%;
  transition: 0.5s ease-in-out;
}
.work-img img:hover {
  transform: scale(1.2);
  border-radius: 12px;
}
